certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
idna==2.8
imageio==2.5.0
imutils==0.5.2
kiwisolver==1.1.0
matplotlib==3.0.3
mss==4.0.2
networkx==2.3
numpy==1.16.3
opencv-python==4.1.0.25
Pillow>=7.1.0
psycopg2==2.8.2
pynput==1.4.2
pyparsing==2.4.0
pytesseract==0.2.6
python-dateutil==2.8.0
python-xlib==0.25
pytz==2018.9
PyWavelets==1.0.3
requests==2.22.0
scikit-image==0.15.0
scipy==1.2.1
six==1.12.0
urllib3==1.26.5
